$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$pink: #ff00ff;
$gold: #ffd700;
$yellow: #ffff00;
$violet: #800080;
$red: #ff0000;
$sky-blue: #046da1;
$maroon: #c5191965;
$lime: #00ff00;
$magenta: #ff00ff;
$silver: #c0c0c0;
$light-grey: #ced4da;
$dark-blue: #343a40;


