@import "../../styles/colors";

.userlist {
    display: flex;
    flex-direction: column;
    border: none;

    .userlist-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4px;
        border: 1px solid $light-grey;
        border-radius: 4px 4px;
        padding: 4px;

        .user-info {
            flex-grow: 1;

            display: flex;
            flex-direction: row;

            .user-avatar {
                height: 60px;
                width: 60px;
                margin-right: 8px;

            }

            .user-details {
                display: flex;
                flex-direction: column;

                .user-name {
                    font-weight: bold;
                }

                .user-tagline {
                    font-size: smaller;
                    color: $gold;
     
                    letter-spacing: 1px;

                }
            }
        }

        .user-actions {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
       
            .icon-label {
                font-size: small;
            }
            .action-icon {
                margin-right: 8px;
                color: $dark-blue;
     
            }
        }
 
    }
}
