.post-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    margin: 0 auto;

}

.post-card-img {
    object-fit: cover;
    flex-grow: 1;
}

.post-card-tags {
    width: 100%;
    font-size: xx-small;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.post-card-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;

    > span {
        font-size: small;
        font-weight: lighter;
    }
}
