.create-photo-post-form {
    .form-label {
        font-weight: bold;
        margin-top: 4px;
    }
    .create-photo-post-button {
        display: flex;
        justify-content: flex-end;
    }
}
