.user-room {
    height: 100%;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    
    .user-room-img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}
