.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.avatar-photo {
    width: 150px;
    width: 150px;
    max-width: 150px;
    max-height: 150px;
}

.avatar-file {
    display: none;
}

.register-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-form-buttons > span > button {
    min-width: 300px;
}

// Overwrite react-datepicker's styple
.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: flex;
    width: 100%;
}
// Make it look bootstrap-ish
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
