@import '../../styles/colors';
@import '../../styles/media-queries';

.user-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .user-profile-masthead-photo {
        height: 200px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .user-profile-content {
        position: absolute;
        padding: 16px;
        top: 70px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100% - 70px);
        max-height: calc(100% - 70px);

        .user-profile-overview {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 25%;
            margin-right: 16px;

            .user-overview-card {
                margin-bottom: 16px;
            }
        }

        .user-profile-main {
            flex: 1;
            height: 100%;
            width: 100%;

            .user-profile-card-body {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                padding: 0;

                .nav-item {
                    .nav-link {
                        color: $secondary;
                    }

                    .active {
                        font-weight: bold;
                    }
                }

                .tab-content {
                    border: none;
                    flex: 1;
                    height: 1px; // can't explain
                    width: 100%;
                    max-height: min-content;

                    .post-card-grid {
                        border: none;
                    }

                    .user-profile-tab {
                        height: 100%;
                        width: 100%;

            
                    }
                }
            }


        }
    }


    @include mobile {
        .user-profile-masthead-photo {
            display: none;
        }

        .tag-cloud {
            display: none;
        }

        .user-profile-content {

            flex-direction: column;
            padding: 0;
            margin-right: 0;
            top: 0;
            position: inherit;

            .user-profile-overview {
                margin-right: 0;

                .user-overview-card {
                    margin-bottom: 8px;
                }
            }
        }


    }
}