@import '../../styles/colors';
@import '../../styles/media-queries';

.user-profile {
    position: relative;
}

.user-profile-masthead-photo {
    height: 300px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.user-profile-panel {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: column;

    .user-profile-photo {
        height: 300px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .user-profile-details {
        padding: 8px;

        .user-profile-stats {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-bottom: 8px;
            margin-top: 8px;
        }

        .user-profile-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            font-size: small;

            .action-icon {
                color: $dark-blue;
                margin-right: 4px;
            }
        }
    }

    @include mobile {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;

        .user-profile-details {
            display: flex;
            flex-direction: column;
            min-width: fit-content;

            .user-profile-stats {
                margin-bottom: auto;
            }

            .user-profile-actions {
                justify-self: self-end;
                .action-icon {
                    font-size: x-large;
                }
                .icon-label {
                    display: none;
                }
            }
        }
    }
}
