@import '../../styles/colors';
@import '../../styles/media-queries';

.post-card-grid {
    height: inherit;

    h1 {
        margin-top: 16px;
        margin-left: 16px;
    }

    .post-card-grid-content {
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-flow: row wrap;
            align-items: flex-start;

            .item {
                display: flex;
                justify-content: center;
                flex: 1 1 0;
                padding: 4px;

                @include mobile {
                    padding: 1px;
                }
            }
        }
    }
}
