@import '../../styles/media-queries';


.login {
    display: flex;
    height: 100vh;
}

.login-form {
    margin: auto;
    max-width: 500px;
}

.login-button {
    margin-top: 16px;
    button {
        width: 100%;
    };
    
} 