.create-quote-post-form {
    .form-label {
        font-weight: bold;
        margin-top: 4px;
    }

    textarea {
        resize: none;
    }

    .quote-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        div {
            flex-grow: 1;
        }
    }

    .create-quote-post-button {
        display: flex;
        justify-content: flex-end;
    }
}
