@import './styles/colors';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.app {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100vh;
    margin: 4px 2px;
}


.body {
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
