html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100vh;
    margin: 8px;
}

.body {
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
}
