@import '../../styles/colors';

.navbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    .nav-links {
        width: 100%;
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: space-between;
        max-width: 375px;
    }
}

// Override bootstrap
.navbar.bg-dark {
    background-color: $dark-blue !important;
  }