@import '../../../styles/colors';



.avatar {
    position: relative;
    width: 100%;
    height: 100%;
    
    .avatar-photo {    
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        
        &.bordered {
            padding: 2px;
            border: 2px solid $dark-blue;

        }

        &.square {
            border-radius: 0.25rem;
        }

        &.circle {
            border-radius: 50%;
        }

    }
}