@import '../../styles/colors';

.tag-list {
    font-size: xx-small;
    word-wrap: break-word;
    cursor: pointer;
    color: $light-grey;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.tag-pill {
    padding: 8px;
}
.editable-tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    background: $white;
    border: 1px solid $light-grey;
    border-radius: 2px;
    padding: 4px;
}

.editable-tag-list-tags {
    width: 100%;
    margin: 0;
    padding: 0px;
    display: inline-flex;
    flex-wrap: wrap;

    > li {
        list-style-type: none;
        margin: 4px;
        .remove-tag-icon {
            margin-left: 8px;
        }
    }
}

.editable-tag-list-input,
.editable-tag-list-input:focus,
.editable-tag-list-input:focus-visible {
    border: none;
    outline: none;
}
