@import '~bootstrap/scss/bootstrap.scss';
@import '~react-toastify/dist/ReactToastify.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// I like thin handwriting
h1 {
    font: caption;
    font-size: x-large;
    font-weight: lighter;
    text-shadow: maroon;
}

// Subtle but annoying
.form-hint {
    font-size: x-small;
    color: red;
}


.neon-border  {
    animation-name: neon-border-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;

    @keyframes neon-border-animation {
        0%   {box-shadow: -13px -13px 13px -13px rgba(random(255), random(255), random(255), 0.25);}
        100% {box-shadow: -13px -13px 13px -13px rgba(random(255), random(255), random(255), 0.55);}

    }
}




