.no-posts-found {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100%;
    padding: 8px;

    svg {
        
        max-width: 100%;
    }
}