@import '../../styles/media-queries';

.login {    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    

    .login-image {   
       object-fit: cover;
       max-height: 300px;
    
    }

    .login-form {
        padding: 16px;
    }

    @include media(mobile, tablet) {
        width: 100%;
        height: 100%;
    }
}

