@import '../../../styles//colors';
@import '../../../styles/media-queries';

.post-card-grid {
    padding: 4px;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    box-sizing: border-box;


    h1 {
        margin-top: 16px;
        margin-left: 16px;
    }

    .grid {
        display: flex;
        flex-direction: row;
 
        flex-flow: row wrap;
        justify-content: space-evenly;
        overflow: auto;


        .item {
            margin-bottom: 4px;
        
        }
    }
}