@import '../../styles/colors';
@import '../../styles/media-queries';

.create-post {
    min-width: 50%;

    .nav-item {
        .nav-link {color: $secondary;}
        .active {
            font-weight: bold;
        }
    }

    .post-type-tabs {

        margin-bottom: 8px;
    }

    @include media(mobile, tablet) {
        height: 100%;
        flex-direction: column;
        padding: 0px;
    }
}

