@import '../../../styles/media-queries';

.register-form {
    margin: auto;
    width: 100%;

    .register-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8px;

        .register-avatar-photo {
            width: 40%;
        }
    }


    .avatar-file {
        display: none;
    }

    .register-form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 8px;

        :first-child {
            
            margin-right: 8px;
        }
        span {
            width: 100%;
            
            button {
                width: 100%;
            }
        }
    }

    .register-options {
        margin-top: 16px;
    }
}
